/* Menu Cards*/
.card {
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, 
    minmax(12rem, 16rem));
  grid-gap: 20px;
  justify-content: center;
}

.card-body {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
}

.card-body:hover {
  transform: scale(1.02);
}

.card-img {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.card-title {
  padding: 5px;
  text-align: center;
}

.card-description {
  padding: 0 10px;
}

.card-price {
  padding: 0 10px;
  font-weight: bold;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-edit {
  margin-top: 8px;
  margin-right: 10px;
  background-color: rgba(237,88,42,255);
  color: white;
  font-weight: bold;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.card-edit:hover {
  background-color: white;
  border: 2px solid rgba(237,88,42,255);
  color: rgba(237,88,42,255);
}

.card-delete {
  margin-top: 8px;
  margin-right: 20px;
  background-color: #f01624;
  color: white;
  font-weight: bold;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.card-delete:hover {
  background-color: white;
  border: 2px solid #f01624;
  color: #f01624;
}

/* Food Header */
.menu {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  margin-bottom: 30px;
}

.food-modbg {
  width: 100vw;
  height: 100vh;
  background-color: #f01625e0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-modcon {
  width: 300;
  height: 300;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 20px gray;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.food-modhead {
  text-align: center;
}

.food-nav {
  display: flex;
  justify-content: center;
}

.food-modp {
  font-weight: bold;
}

.food-modinput {
  margin-bottom: 15px;
}

.food-btncon {
  text-align: center;
}

.food-submit {
  background-color: rgba(237,88,42,255);
  color: white;
  font-weight: bold;
  border: none;
  width: 100px;
  height: 30px;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition-duration: 0.4s;
}

.food-submit:hover {
  background-color: white;
  border: 2px solid rgba(237,88,42,255);
  color: rgba(237,88,42,255);
}

.food-cancel {
  background-color: #f01624;
  color: white;
  font-weight: bold;
  border: none;
  width: 100px;
  height: 30px;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.food-cancel:hover {
  background-color: white;
  border: 2px solid #f01624;
  color: #f01624;
}

.food-addbtn {
  background-color: rgba(237,88,42,255);
  color: white;
  font-weight: bold;
  border: none;
  width: 65px;
  height: 30px;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.food-addbtn:hover {
  background-color: white;
  border: 2px solid rgba(237,88,42,255);
  color: rgba(237,88,42,255);
}

/* edit */
.edit-body {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
}

.edit-img {
  height: 260px;
  width: 100%;
  background-color: gray;
}

.edit-iimg {
  height: 260px;
  width: 100%;
  text-align: center;
}

.edit-iname {
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: small;
  
}

.edit-idesc {
  height: 125px;
  width: 100%;
  text-align: center;
}

.edit-iprice {
  height: 25px;
  width: 50%;
  text-align: center;
  margin-top: 8px;
  margin-left: 10px;
}

.edit-bottom {
  display: flex;
  justify-content: space-between;
}

.edit-save {
  margin-top: 8px;
  margin-right: 10px;
  background-color: rgba(237,88,42,255);
  color: white;
  font-weight: bold;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.edit-cancel {
  margin-top: 8px;
  margin-right: 10px;
  background-color: #f01624;
  color: white;
  font-weight: bold;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}